body {
    color: #384e47;
    font-family: 'PT Sans', sans-serif !important;
    background-color: #dfeaed;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.wow {
    visibility: hidden;
}

/***** HEADER *****/
body header {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    border-bottom: 10px solid #3cb878;
}

body header .navbar-brand {
    padding-bottom: 20px;
}

body header nav {
    font-size: 14px;
}

body header nav a.nav-link {
    color: #777 !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

body header nav a.nav-link:hover {
    color: #000 !important;
}

.center {
    text-align: center;
}

section#capture-info, section#signup-issue {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section#signup-issue p {
    margin-bottom: 0;
}

a {
    color: #3cb878;
    text-decoration: underline;
    font-weight: bold;
    transition: all .5s;
}

a:hover {
    color: #384e47;
}

aside.intro {
    margin-top: 2rem;
}

a#signup-contact {
    background-color: #004a80;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
}

a#signup-contact {
    margin-top: 1rem;
}

aside.intro {
    margin-bottom: 2rem;
}

aside.intro h1 {
    margin-bottom: 0;
    font-weight: bold;
}

section.signup-box {
    background-color: #f0f5f7;
    text-align: center;
    margin-bottom: 2rem;
}

div.validate-error {
    color: red;
}

form.get-started {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

form.get-started label {
    display: block;
    font-weight: bold;
}

label.center p {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-size: 1.3rem;
}

input.standard {
    width: 36%;
}

input[name='first-name'], input[name='last-name'] {
    width: 55%;
}

input[name='last-name'] {
    margin-left: 3px;
}

input.birth {
    width: 40px;
}

input.birth.year {
    width: 100px;
}

input[type='submit'] {
    -webkit-appearance: none;
    outline: 0;
    border: none;
    background-color: #bdd73c;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
}

/*#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px $dark-green;
}*/
/* Headings */
h3[data-toggle='tooltip'] {
    position: relative;
    display: inline-block;
    color: #035a77;
}

h3[data-toggle='tooltip']:after {
    content: "\f059";
    position: absolute;
    top: 0;
    right: -25px;
    font-family: FontAwesome;
    font-style: normal;
    color: #00ad96;
}